<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frame.process.mapper.BaiduTiebaSearchMapper">
	
	<select id="selectBaiduTiebaSearchByLimit" resultType="BaiduTiebaSearch">
		SELECT * FROM baidu_tieba_search
		WHERE flag = #{flag}
		LIMIT #{startPos}, #{limit}
	</select>
	
	<update id="updateBatch">
		UPDATE baidu_tieba_search
		SET flag = #{flag}
		WHERE id IN
		<foreach collection="datas" item="data" index="index" separator="," open="(" close=")">
		 #{data.id}
		</foreach>
	</update>
</mapper>