<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frame.process.mapper.ExportConfigMapper">
	
	<select id="selectFullName" resultType="java.lang.String">
		SELECT CONCAT(pack_name, '.', class_name) FROM export_config
	</select>
</mapper>